<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
  <channel>
    <title><![CDATA[<%= siteTitle %>]]></title>
    <description><![CDATA[<%= siteDescription %>]]></description>
    <link><![CDATA[<%= siteHref %>]]></link>
    <lastBuildDate><%= rssDateFormat(new Date()) %></lastBuildDate>
    <pubDate><%= rssDateFormat(new Date()) %></pubDate>
    <ttl>1800</ttl>

    <% posts.forEach(function(post) { %>
    <item>
      <title><![CDATA[<%= post.title %>]]></title>
      <description><![CDATA[<%= post.summary %>]]></description>
      <link><![CDATA[<%= siteHref + post.href %>]]></link>
      <guid><![CDATA[<%= siteHref + post.href %>]]></guid>
      <pubDate><%= rssDateFormat(post.mtime) %></pubDate>
    </item>
    <% }) %>

  </channel>
</rss>
